matplotlib==3.3.2
numpy==1.18.5
requests==2.21.0
pandas==1.1.3
seaborn==0.10.1
joblib==0.16.0
backports.statistics==0.1.0
Cython==0.29.24
ipaddr==2.2.0
ordereddict==1.1
scikit_learn==0.24.2
scipy==1.7.0
